@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@font-face {

    font-family: LAXR;

    src: url(/LAXR.otf.ttf);
}
@font-face {

    font-family: GraphicSchool;

    src: url(/GraphicSchool-Regular.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "IBM Plex Sans Arabic", sans-serif;
  }
  
  body , html {
    direction: rtl;
    overflow-x: hidden !important;
  }
  
  html {
    scroll-behavior: smooth;
  }

 ::selection{
    background-color: #006d65;
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #004f49;
    border-radius: 10px;
  }