@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@font-face {

    font-family: LAXR;

    src: url(/LAXR.otf.ttf);
}
@font-face {

    font-family: GraphicSchool;

    src: url(/GraphicSchool-Regular.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "IBM Plex Sans Arabic", sans-serif;
  }
  
  body , html {
    direction: rtl;
    overflow-x: hidden !important;
  }
  
  html {
    scroll-behavior: smooth;
  }

